<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionToSql" 
         connectionString="Data Source=DESKTOP-DG34UI4;Initial Catalog=DBSql;Integrated Security=True" 
         providerName="System.Data.SqlClient" 
         />
    <add name="connectionToAccess" 
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Files\DBAccess.accdb"
         providerName="System.Data.OleDb"
         />
  </connectionStrings>
</configuration>